body{background-color: yellow ;
    background-repeat:  no-repeat; 
    background-repeat:center fixed;
    background-size: cover; /* version standardisée */
    -o-background-size: cover; /* version précédente */};

/*Code des boutons*/


#menu {margin-left:auto;
        margin-right: auto;
  }




#menu ul {
    margin:0;
    padding:0;
    list-style-type:none;
    text-align:center;
    }

#menu li {
    display:inline-block;
    margin:auto;
    padding:0;
    background-color:red;
    }

#menu li a {
display:block;

   
        box-align: center;
    text-align: center;
    color:white;
    text-decoration:none;
    padding:5px;
    }

#menu li a:hover {
    color:black;
    }

#menu ul li ul {
        display:none;
        }

#menu ul li:hover ul {
            display:block;
            }

#menu li:hover ul li {
            float:none;
            }

#menu li ul {position:absolute;
                }

              
             
                    